<html>
    <head>
        <link rel="stylesheet" type="text/css" href="sign.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="../app/app.js"></script>
        <script src="../app/signController.js"></script>
    </head>
    <body ng-app = "app">
        <div class="logo">
            <img src="car.png"/>
        </div>
        <div class="input-wrapper" ng-controller="signController">
            <input class="username form-input-field" placeholder="Username" ng-model="username" type="text" required/>
            <input class="password form-input-field" placeholder="Password" ng-model="password" type="password" required/>
            <input class="confirm-password form-input-field" ng-show = "isRegister" placeholder="Confirm Password" required ng-model="confirm"/>
            <input class="car-chooser form-input-field" ng-show = "isRegister" placeholder="Car Brand" ng-model="car_brand"/>
            <button class="login entry" ng-show="!isRegister" ng-click = "login()">Login</button>
            <button class="submit entry" ng-show="isRegister">Submit</button>
            <button class="register" ng-click = "registerToggle()" ng-show="!isRegister">Register</button>
        </div>
    </body>
</html>
