body {
  width: 100%;
  height: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
#header {
  height: 5vh;
  width: 100%;
}
#header div {
  float: left;
}
#header #time {
  width: 30%;
}
#header #speed {
  width: 40%;
}
#header #something {
  width: 30%;
}
#map {
  height: 95vh;
  width: 100%;
}
